<h2 id="title">Hotel Booking Application</h2>

<li>{{#link-to 'admin.room-types.index'}}List Room Types{{/link-to}}</li>
<li>{{#link-to 'admin.room-types.new'}}Add New Room Type{{/link-to}}</li>

{{outlet}}
